/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
    0.  Normalize
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Tag Archive
    7.  Third Party Elements
    8.  Pagination
    9.  Footer
    10. Media Queries (Tablet)
    11. Media Queries (Mobile)
    12. Animations
*/

/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */
  *{
    box-sizing: border-box;
  }
   article, aside, details,
   figcaption, figure,
   footer, header, hgroup,
   main, nav, section,
   summary { display: block; }
   audio, canvas, video { display: inline-block; }
   audio:not([controls]) { display: none; height: 0; }
   [hidden], template { display: none; }
   html {
      font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
   }
   body { margin: 0; }
   a { background: transparent; }
   a:focus { outline: thin dotted; }
   a:active, a:hover { outline: 0; }
   h1 { font-size: 2em; margin: 0.67em 0; }
   abbr[title] { border-bottom: 1px dotted; }
   b, strong { font-weight: 700; }
   dfn { font-style: italic; }
   hr {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
   }
   mark { background: #FF0; color: #000; }
   code, kbd, pre,
   samp { font-family: monospace, serif; font-size: 1em; }
   pre { white-space: pre-wrap; }
   q { quotes: "\201C" "\201D" "\2018" "\2019"; }
   small { font-size: 80%; }
   sub, sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
   }
   sup { top: -0.5em; }
   sub { bottom: -0.25em; }
   img { border: 0; }
   svg:not(:root) { overflow: hidden; }
   figure { margin: 0; }
   fieldset {
      border: 1px solid #c0c0c0;
      margin: 0 2px;
      padding: 0.35em 0.625em 0.75em;
   }
   legend { border: 0; padding: 0; }
   button, input, select,
   textarea { font-family: inherit; font-size: 100%; margin: 0; }
   button, input { line-height: normal; }
   button, select { text-transform: none; }
   button, html input[type="button"],
   input[type="reset"], input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
   }
   button[disabled], html input[disabled] { cursor: default; }
   input[type="checkbox"],
   input[type="radio"] { box-sizing: border-box; padding: 0; }
   input[type="search"] {
      -webkit-appearance: textfield;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
   }
   input[type="search"]::-webkit-search-cancel-button,
   input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
   button::-moz-focus-inner,
   input::-moz-focus-inner { border: 0; padding: 0; }
   textarea { overflow: auto; vertical-align: top; }
   table { border-collapse: collapse; border-spacing: 0; }
   /* ==========================================================================
      1. Icons - Sets up the icon font and respective classes
      ========================================================================== */
   
   /* Import the font file with the icons in it */
   @font-face {
     font-family: 'genericons';
     src: url('../fonts/Genericons.eot');
     src: url('../fonts/Genericons.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Genericons.woff') format('woff'),
          url('../fonts/Genericons.ttf') format('truetype'),
          url('../fonts/Genericons.svg#entypo') format('svg');
     font-weight: normal; font-style: normal;
   }
   
   /* Apply these base styles to all icons */
   [class^="icon-"]:before, [class*=" icon-"]:before {
       font-family: "genericons", "Open Sans", sans-serif;
       speak: none;
       font-style: normal;
       font-weight: normal;
       font-variant: normal;
       text-transform: none;
       line-height: 1;
       text-decoration: none !important;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }
   
   /* Each icon is created by inserting the correct character into the
      content of the :before pseudo element. Like a boss. */
   .icon-github:before {
       content: "\f200";
   }
   
   .icon-hugo:before{
       content:"\f216";
   }
   
   .icon-ghost:before {
       content: "\f100";
   }
   .icon-feed:before {
       content: "\f413";
   }
   .icon-twitter:before {
       content: "\f202";
   }
   .icon-google-plus:before {
       content: "\f206";
   }
   .icon-facebook:before {
       content: "\f203";
   }
   .icon-arrow-left:before {
       content: "\f431";
   }
   .icon-stats:before {
       content: "\f508";
   }
   .icon-location:before {
       content: "\f417";
   }
   .icon-link:before {
       content: "\f442";
   }
   
   
   /* ==========================================================================
      2. General - Setting up some base styles
      ========================================================================== */
   
   html {
       height: 100%;
       max-height: 100%;
       font-size: 62.5%;
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body {
       overflow-x: hidden;
       height: 100%;
       max-height: 100%;
       width: 100%;
       font-family: "Merriweather", serif;
       letter-spacing: 0.01rem;
       font-size: 1.8rem;
       line-height: 1.75em;
       color: #3A4145;
       -webkit-font-feature-settings: 'kern' 1;
       -moz-font-feature-settings: 'kern' 1;
       -o-font-feature-settings: 'kern' 1;
       text-rendering: geometricPrecision;
   }
   
   ::-moz-selection {
       background: #D6EDFF;
   }
   
   ::selection {
       background: #D6EDFF;
   }
   
   h1, h2, h3,
   h4, h5, h6 {
       -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
       -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
       -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
       color: #2E2E2E;
       line-height: 1.15em;
       margin: 0 0 0.4em 0;
   
       font-family: "Open Sans", sans-serif;
       text-rendering: geometricPrecision;
   }
   
   h1 {
       font-size: 5rem;
       letter-spacing: -2px;
       text-indent: -3px;
   }
   
   h2 {
       font-size: 3.6rem;
       letter-spacing: -1px;
   }
   
   h3 {
       font-size: 3rem;
   }
   
   h4 {
       font-size: 2.5rem;
   }
   
   h5 {
       font-size: 2rem;
   }
   
   h6 {
       font-size: 2rem;
   }
   
   a {
       color: #4A4A4A;
       transition: color 0.3s ease;
   }
   
   a:hover {
       color: #111;
   }
   
   p, ul, ol, dl {
       -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
       -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
       -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
       margin: 0 0 1.75em 0;
       text-rendering: geometricPrecision;
   }
   
   ol, ul {
       padding-left: 3rem;
   }
   
   ol ol, ul ul,
   ul ol, ol ul {
       margin: 0 0 0.4em 0;
       padding-left: 2em;
   }
   
   dl dt {
       float: left;
       width: 180px;
       overflow: hidden;
       clear: left;
       text-align: right;
       text-overflow: ellipsis;
       white-space: nowrap;
       font-weight: 700;
       margin-bottom: 1em;
   }
   
   dl dd {
       margin-left: 200px;
       margin-bottom: 1em
   }
   
   li {
       margin: 0.4em 0;
   }
   
   li li {
       margin: 0;
   }
   
   hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: #EFEFEF 1px solid;
       margin: 3.2em 0;
       padding: 0;
   }
   
   blockquote {
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       margin: 1.7em 1.7em 1.75em 0em;
       padding: 0 0 0 1.75em;
       border-left: #4A4A4A 0.2em solid;
   }
   
   blockquote p {
       margin: 0.8em 0;
       font-style: italic;
   }
   
   blockquote small {
       display: inline-block;
       margin: 0.8em 0 0.8em 1.5em;
       font-size: 0.9em;
       color: #CCC;
   }
   
   blockquote small:before { content: "\2014 \00A0"; }
   
   blockquote cite {
       font-weight: 700;
   }
   
   blockquote cite a { font-weight: normal; }
   
   mark {
       background-color: #FFC336;
   }
   
   code, tt {
       padding: 1px 3px;
       font-family: Inconsolata, monospace, sans-serif;
       font-size: 0.85em;
       white-space: pre-wrap;
       border: #E3EDF3 1px solid;
       background: #F7FAFB;
       border-radius: 2px;
   }
   
   pre {
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       margin: 0 0 1.75em 0;
       border: #E3EDF3 1px solid;
       width: 100%;
       padding: 10px;
       font-family: Inconsolata, monospace, sans-serif;
       font-size: 0.9em;
       white-space: pre;
       overflow: auto;
       background: #F7FAFB;
       border-radius: 3px;
   }
   
   pre code, pre tt {
       font-size: inherit;
       white-space: pre-wrap;
       background: transparent;
       border: none;
       padding: 0;
   }
   
   kbd {
       display: inline-block;
       margin-bottom: 0.4em;
       padding: 1px 8px;
       border: #CCC 1px solid;
       color: #666;
       text-shadow: #FFF 0 1px 0;
       font-size: 0.9em;
       font-weight: 700;
       background: #F4F4F4;
       border-radius: 4px;
       box-shadow:
           0 1px 0 rgba(0, 0, 0, 0.2),
           0 1px 0 0 #fff inset;
   }
   
   table {
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       margin: 1.75em 0;
       width: 100%;
       max-width: 100%;
       background-color: transparent;
   }
   
   table th,
   table td {
       padding: 8px;
       line-height: 20px;
       text-align: left;
       vertical-align: top;
       border-top: #EFEFEF 1px solid;
   }
   
   table th { color: #000; }
   
   table caption + thead tr:first-child th,
   table caption + thead tr:first-child td,
   table colgroup + thead tr:first-child th,
   table colgroup + thead tr:first-child td,
   table thead:first-child tr:first-child th,
   table thead:first-child tr:first-child td {
       border-top: 0;
   }
   
   table tbody + tbody { border-top: #EFEFEF 2px solid; }
   
   table table table { background-color: #FFF; }
   
   table tbody > tr:nth-child(odd) > td,
   table tbody > tr:nth-child(odd) > th {
       background-color: #F6F6F6;
   }
   
   table.plain tbody > tr:nth-child(odd) > td,
   table.plain tbody > tr:nth-child(odd) > th {
      background: transparent;
   }
   
   iframe, .fluid-width-video-wrapper {
       display: block;
       margin: 1.75em 0;
   }
   
   /* When a video is inside the fitvids wrapper, drop the
   margin on the iframe, cause it breaks stuff. */
   .fluid-width-video-wrapper iframe {
       margin: 0;
   }
   
   
   /* ==========================================================================
      3. Utilities - These things get used a lot
      ========================================================================== */
   
   /* Clears shit */
   .clearfix:before,
   .clearfix:after {
       content: " ";
       display: table;
   }
   .clearfix:after { clear: both; }
   .clearfix { zoom: 1; }
   
   /* Hides shit */
   .hidden {
       text-indent: -9999px;
       visibility: hidden;
       display: none;
   }
   
   /* Creates a responsive wrapper that makes our content scale nicely */
   .inner {
       position: relative;
       width: 80%;
       max-width: 710px;
       margin: 0 auto;
   }
   
   /* Centres vertically yo. (IE8+) */
   .vertical {
       display: table-cell;
       vertical-align: middle;
   }
   .vertical h1:hover{
     color: #00FF00;
   }
   
   /* Wraps the main content & footer */
   .site-wrapper {
       /*position: relative;*/
       z-index: 10;
       min-height: 100%;
       background: #fff;
       -webkit-transition: -webkit-transform 0.5s ease;
               transition: transform 0.5s ease;
   }
   
   body.nav-opened .site-wrapper {
       overflow-x: hidden;
       -webkit-transform: translate3D(-240px, 0, 0);
           -ms-transform: translate3D(-240px, 0, 0);
               transform: translate3D(-240px, 0, 0);
       -webkit-transition: -webkit-transform 0.3s ease;
               transition: transform 0.3s ease;
   }
   
   
   /* ==========================================================================
      4. General - The main styles for the the theme
      ========================================================================== */
   
   /* Big cover image on the home page */
   .main-header {
       /*position: relative;*/
       display: table;
       width: 100%;
       height: 100vh;
       margin-bottom: 5rem;
       text-align: center;
       background: #222 no-repeat center center;
       background-size: cover;
       overflow: hidden;
   }
   
   .main-header .inner {
       width: 80%;
   }
   
   .main-nav {
       position: relative;
       padding: 35px 40px;
       margin-top: 10%;
       margin: 0 0 100px 0;
   }
   
   .main-nav a {
       text-decoration: none;
       font-family: 'Open Sans', sans-serif;
   }
   /*About Section*/
   
   /* Navigation */
   
   .navbar {
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 2rem;
     position: fixed;
     top: 0;
     z-index: 999;
   }
   .navbar__container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 80px;
     z-index: 1;
     width: 100%;
     max-width: 1300px;
     margin: 1.5% auto;
     padding: 0 50px;
     float: right;
   }
   .navbar__menu {
     display: flex;
     align-items: center;
     list-style: none;
   }
   @media(max-width: 868px){
    .navbar__menu{
        /* margin-top: 30em; */
        max-width: 100%;
        align-items: center;
        display: inline-flex;
        flex: 100;
        justify-content: center;
   };
}
   
   .navbar__item {
     height: 80px;
   }
   
   .navbar__links {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 125px;
     text-decoration: none;
     height: 100%;
     transition: all 0.3s ease;
     color:rgba(255,255,255,0.7);
   }
   .navbar__linksw3 {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 20rem;
     margin-top: 2.5rem;
     text-decoration: none;
     height: 3.1rem;
     transition: all 0.3s ease;
     color:rgba(255,255,255,0.7);
   }   
   .navbar__btn {
     display: flex;
     justify-content: center;
     align-items: right;
     padding: 0 1rem;
     width: 100%;
   }
   .navbar__links:hover {
     color: #00e043;
     transition: all 0.3s ease;
   }
   /* .navbar ul{
    /* margin: 10px; */
    display: flex;
   } */
   body.nav-opened .nav-cover {
       position: fixed;
       top: 0;
       left: 0;
       right: 240px;
       bottom: 0;
       z-index: 200;
   }
   
   .nav {
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       z-index: 5;
       width: 240px;
       opacity: 0;
       background: rgba(0,0,0,0.15);
       margin-bottom: 0;
       text-align: left;
       overflow-y: auto;
       -webkit-transition: -webkit-transform 0.5s ease,
                           opacity 0.3s ease 0.7s;
               transition: transform 0.5s ease,
                           opacity 0.3s ease 0.7s;
   font-family: "Open Sans","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
   font-weight: 700;
   font-size: 11px;
   color: rgba(255,255,255,0.7);
   background: rgba(0, 0, 0, 0.39);
   }
   
   body.nav-closed .nav {
       -webkit-transform: translate3D(97px, 0, 0);
           -ms-transform: translate3D(97px, 0, 0);
               transform: translate3D(97px, 0, 0);
   }
   
   body.nav-opened .nav {
       opacity: 1;
       -webkit-transition: -webkit-transform 0.3s ease,
                           opacity 0s ease 0s;
               transition: transform 0.3s ease,
                           opacity 0s ease 0s;
       -webkit-transform: translate3D(0, 0, 0);
           -ms-transform: translate3D(0, 0, 0);
               transform: translate3D(0, 0, 0);
   }
   
   .nav-title {
       position: absolute;
       top: 45px;
       left: 30px;
       font-size: 16px;
       font-weight: 100;
       text-transform: uppercase;
       color: #fff;
   }
   
   .nav-close {
       position: absolute;
       top: 38px;
       right: 25px;
       width: 20px;
       height: 20px;
       padding: 0;
       font-size: 10px;
   }
   
   .nav-close:focus {
       outline: 0;
   }
   
   .nav-close:before,
   .nav-close:after {
       content: '';
       position: absolute;
       top: 0;
       width: 20px;
       height: 1px;
       background: rgb(150,150,150);
       top: 15px;
       -webkit-transition: background 0.15s ease;
               transition: background 0.15s ease;
   }
   
   .nav-close:before {
       -webkit-transform: rotate(45deg);
           -ms-transform: rotate(45deg);
               transform: rotate(45deg);
   }
   
   .nav-close:after {
       -webkit-transform: rotate(-45deg);
           -ms-transform: rotate(-45deg);
               transform: rotate(-45deg);
   }
   
   .nav-close:hover:before,
   .nav-close:hover:after {
       background: rgb(255,255,255);
   }
   
   .nav ul {
       padding: 90px 9% 5%;
       list-style: none;
       counter-reset: item;
   }
   
   .nav li:before {
       display: block;
       float: right;
       padding-right: 4%;
       padding-left: 5px;
       text-align: right;
       font-size: 1.2rem;
       vertical-align: bottom;
       color: #B8B8B8;
       content: counter(item, lower-roman);
       counter-increment: item;
   }
   .nav li {
       margin: 0;
   }
   .nav li a {
       text-decoration: none;
       line-height: 1.4;
       font-size: 1.4rem;
       display: block;
       padding: 0.6rem 4%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
   }
   .nav li a:after {
       display: inline-block;
       content: " .......................................................";
       color: rgba(255,255,255,0.2);
       margin-left: 5px;
   }
   .nav .nav-current:before {
       color: #fff;
   }
   .nav .nav-current a:after {
       content: " ";
       border-bottom: rgba(255,255,255,0.5) 1px solid;
       width: 100%;
       height: 1px;
   }
   
   .nav a:link,
   .nav a:visited {
       color: #B8B8B8;
   }
   
   .nav li.nav-current a,
   .nav a:hover,
   .nav a:active,
   .nav a:focus {
       color: #fff;
   }
   
   .subscribe-button {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       display: block;
       position: absolute;
       bottom: 30px;
       left: 30px;
       right: 30px;
       height: 38px;
       padding: 0 20px;
       color: #111 !important;
       text-align: center;
       font-size: 12px;
       font-family: "Open Sans", sans-serif;
       text-transform: uppercase;
       text-decoration: none;
       line-height: 35px;
       border-radius: 3px;
       background: #fff;
       transition: all ease 0.3s;
   }
   .subscribe-button:before {
       font-size: 9px;
       margin-right: 6px;
   }
   
   
   /* Create a bouncing scroll-down arrow on homepage with cover image */
   .scroll-down {
       display: block;
       position: absolute;
       z-index: 100;
       bottom: 45px;
       left: 50%;
       margin-left: -16px;
       width: 34px;
       height: 34px;
       font-size: 44px;
       text-align: center;
       text-decoration: none;
       color: rgba(255,255,255,0.7);
       -webkit-animation: bounce 4s 2s infinite;
       animation: bounce 4s 2s infinite;
   }
   
   /* Stop it bouncing and increase contrast when hovered */
   .scroll-down:hover {
       color: #00FF00;
       -webkit-animation: alternate;
       animation: alternate;
   }
   
   /* Put a semi-opaque radial gradient behind the icon to make it more visible
      on photos which happen to have a light background. */
   .home-template .main-header:after {
       display: block;
       content: " ";
       width: 150px;
       height: 130px;
       border-radius: 100%;
       position: absolute;
       bottom: 0;
       left: 50%;
       margin-left: -75px;
       background: radial-gradient(ellipse at center,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
   }
   
   /* Hide when there's no cover image or on page2+ */
   .no-cover .scroll-down,
   .no-cover.main-header:after,
   .archive-template .scroll-down,
   .archive-template .main-header:after {
       display: none
   }
   
   /* Appears in the top right corner of your home page */
   .blog-logo {
       display: block;
       float: left;
       background: none !important;
       border: none !important;
   }
   
   .blog-logo img {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       display: block;
       height: 144px;
       width: 144px;
       opacity: 0.6;
       /*
       border: #bfc8cd 1px solid;
       */
   }
   
   .blog-logo:hover{
     color: #00FF00;
   }
   
   .menu-button {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       display: inline-block;
       float: right;
       height: 38px;
       padding: 0 15px;
       border: #bfc8cd 1px solid;
       opacity: 1;
       color: #9EABB3;
       text-align: center;
       font-size: 12px;
       text-transform: uppercase;
       line-height: 35px;
       white-space: nowrap;
       border-radius: 3px;
       background: rgba(0,0,0,0.1);
       transition: all 0.5s ease;
   }
   .menu-button:focus {
       outline: 0;
   }
   .menu-button .burger {
       font-size: 12px;
       margin-right: 6px;
   }
   
   body.nav-opened .menu-button {
       padding: 0 12px;
       background: #111 !important;
       border-color: #111 !important;
       color: #fff !important;
       -webkit-transform: translate3D(94px, 0, 0);
           -ms-transform: translate3D(94px, 0, 0);
               transform: translate3D(94px, 0, 0);
       transition: all 0.3s ease;
   }
   body.nav-opened .menu-button .word {
       opacity: 0;
       transition: all 0.3s ease;
   }
   
   /* Special styles when overlaid on an image*/
   .main-nav.overlay {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       height: 70px;
       border: none;
       background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
   }
   .no-cover .main-nav.overlay,
   .no-cover .menu-button {
       background: none;
   }
   
   .main-nav.overlay a {
       color: #fff;
   }
   
   .main-nav.overlay .menu-button {
       border-color: rgba(255,255,255,0.6);
   }
   
   .main-nav.overlay a:hover {
       color: #222;
       /* border-color: #fff; */
       /* background: #fff; */
       color: #00e043;
     transition: all 0.3s ease;
   }
   
   /* Add a border to the buttons on hover */
   .menu-button:hover {
       border-color: #555;
       color: #555;
   }
   
   /* The details of your blog. Defined in ghost/settings/ */
   .page-title {
       margin: 10px 0 10px 0;
       font-size: 5rem;
       letter-spacing: -1px;
       font-weight: 700;
       font-family: "Open Sans", sans-serif;
       color: #fff;
       display: inline-block;
   }
   .page-title a:hover{
     color:#00FF00;
   }
   .page-description {
       margin: 0;
       font-size: 2rem;
       line-height: 1.5em;
       font-weight: 400;
       font-family: "Merriweather", serif;
       letter-spacing: 0.01rem;
       color: rgba(255,255,255,0.8);
   }
   
   .no-cover.main-header {
       min-height: 160px;
       max-height: 40vh;
       background: #f5f8fa;
   }
   
   .no-cover .page-title {
       color: rgba(0,0,0,0.8);
   }
   
   .no-cover .page-description {
       color: rgba(0,0,0,0.5);
   }
   .random{
       display: inline-block;
   }
   .no-cover .main-nav.overlay .menu-button {
       color: rgba(0,0,0,0.4);
       border-color: rgba(0,0,0,0.3);
   }
   .fcol{
    color: rgba(255, 255, 255, 0.578);
    margin-top: 30%;
   }

   
   /* Add subtle load-in animation for content on the home page */
   .home-template .page-title {
       -webkit-animation: fade-in-down 0.6s;
       animation: fade-in-down 0.6s;
       -webkit-animation-delay: 0.2s;
       animation-delay: 0.2s;
   }
   .home-template .page-description {
       -webkit-animation: fade-in-down 0.9s;
       animation: fade-in-down 0.9s;
       -webkit-animation-delay: 0.1s;
       animation-delay: 0.1s;
   }
   
   /* Every post, on every page, gets this style on its <article> tag */
   .post {
       position: relative;
       width: 80%;
       max-width: 710px;
       margin: 4rem auto;
       padding-bottom: 4rem;
       border-bottom: #EBF2F6 1px solid;
       word-wrap: break-word;
       -moz-hyphens: auto;
       -ms-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
   }

   .web3{
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    z-index: 99999999999;
   }
   /* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
   .post:after {
       display: block;
       content: "";
       width: 7px;
       height: 7px;
       border: #E7EEF2 1px solid;
       position: absolute;
       bottom: -5px;
       left: 50%;
       margin-left: -5px;
       background: #FFF;
       border-radius: 100%;
       box-shadow: #FFF 0 0 0 5px;
   }
   
   body:not(.post-template) .post-title {
       font-size: 3.6rem;
   }
   
   .post-title a {
       text-decoration: none;
   }
   
   .post-excerpt p {
       margin: 1em 0 1em 0;
       font-size: 0.9em;
       line-height: 1.7em;
   }
   
   .read-more {
       text-decoration: none;
   }
   
   .post-meta {
       display: block;
       margin: 1.75rem 0 0 0;
       font-family: "Open Sans", sans-serif;
       font-size: 1.5rem;
       line-height: 2.2rem;
       color: #9EABB3;
   }
   
   .author-thumb {
       width: 24px;
       height: 24px;
       float: left;
       margin-right: 9px;
       border-radius: 100%;
   }
   
   .post-meta a {
       color: #9EABB3;
       text-decoration: none;
   }
   
   .post-meta a:hover {
       text-decoration: underline;
   }
   
   .user-meta {
       position: relative;
       padding: 0.3rem 40px 0 100px;
       min-height: 77px;
   }
   
   .post-date {
       display: inline-block;
       margin-left: 8px;
       padding-left: 12px;
       border-left: #d5dbde 1px solid;
       text-transform: uppercase;
       font-size: 1.3rem;
       white-space: nowrap;
   }
   
   .user-image {
       position: absolute;
       top: 0;
       left: 0;
   }
   
   .user-name {
       display: block;
       font-weight: 700;
   }
   
   .user-bio {
       display: block;
       max-width: 440px;
       font-size: 1.4rem;
       line-height: 1.5em;
   }
   
   .publish-meta {
       position: absolute;
       top: 0;
       right: 0;
       padding: 4.3rem 0 4rem 0;
       text-align: right;
   }
   
   .publish-heading {
       display: block;
       font-weight: 700;
   }
   
   .publish-date {
       display: block;
       font-size: 1.4rem;
       line-height: 1.5em;
   }
   
   
   /* ==========================================================================
      5. Single Post - When you click on an individual post
      ========================================================================== */
   
   .post-template .post-header {
      margin-bottom: 3.4rem;
   }
   
   .post-template .post-title {
       margin-bottom: 0;
   }
   
   .post-template .post-meta {
       margin: 0;
   }
   
   .post-template .post-date {
       padding: 0;
       margin: 0;
       border: none;
   }
   
   /* Stop elements, such as img wider than the post content, from
      creating horizontal scroll - slight hack due to imperfections
      with browser width % calculations and rounding */
   .post-template .content {
       overflow: hidden;
   }
   
   /* Tweak the .post wrapper style */
   .post-template .post {
       margin-top: 0;
       border-bottom: none;
       padding-bottom: 0;
   }
   
   /* Kill that stylish little circle that was on the border, too */
   .post-template .post:after {
       display: none;
   }
   
   /* Keep images centered, and allow images wider than the main
      text column to break out. */
   .post-content img {
       display: block;
       max-width: 100%;
       height: auto;
       padding: 0.6em 0;
       /* Centers an image by (1) pushing its left edge to the
          center of its container and (2) shifting the entire image
          in the opposite direction by half its own width.
          Works for images that are larger than their containers. */
       position: relative;
   }
   
   /* The author credit area after the post */
   .post-footer {
       position: relative;
       margin: 6rem 0 0 0;
       padding: 6rem 0 0 0;
       border-top: #EBF2F6 1px solid;
   }
   
   .post-footer h4 {
       font-size: 1.8rem;
       margin: 0;
   }
   
   .post-footer p {
       margin: 1rem 0;
       font-size: 1.4rem;
       line-height: 1.75em;
   }
   
   /* list of author links - location / url */
   .author-meta {
       padding: 0;
       margin: 0;
       list-style: none;
       font-size: 1.4rem;
       line-height: 1;
       font-style: italic;
       color: #9EABB3;
   }
   
   .author-meta a {
       color: #9EABB3;
   }
   .author-meta a:hover {
       color: #111;
   }
   
   /* Create some space to the right for the share links */
   .post-footer .author {
       margin-right: 180px;
   }
   
   .post-footer h4 a {
       color: #2e2e2e;
       text-decoration: none;
   }
   
   .post-footer h4 a:hover {
       text-decoration: underline;
   }
   
   /* Drop the share links in the space to the right.
      Doing it like this means it's easier for the author bio
      to be flexible at smaller screen sizes while the share
      links remain at a fixed width the whole time */
   .post-footer .share {
       position: absolute;
       top: 6rem;
       right: 0;
       width: 140px;
   }
   
   .post-footer .share a {
       font-size: 1.8rem;
       display: inline-block;
       margin: 1rem 1.6rem 1.6rem 0;
       color: #BBC7CC;
       text-decoration: none;
   }
   
   .post-footer .share a:hover {
       color: #50585D;
   }
   
   
   /* ==========================================================================
      6. Author profile
      ========================================================================== */
   
   .post-head.main-header {
       height: 65vh;
       min-height: 180px;
   }
   
   .no-cover.post-head.main-header {
       height: 85px;
       min-height: 0;
       margin-bottom: 0;
       background: transparent;
   }
   
   .tag-head.main-header {
       height: 40vh;
       min-height: 180px;
   }
   
   .author-head.main-header {
       height: 40vh;
       min-height: 180px;
   }
   
   .no-cover.author-head.main-header {
       height: 10vh;
       min-height: 100px;
       background: transparent;
   }
   
   .author-profile {
       padding: 0 15px 5rem 15px;
       border-bottom: #EBF2F6 1px solid;
       text-align: center;
   }
   
   /* Add a little circle in the middle of the border-bottom */
   .author-profile:after {
       display: block;
       content: "";
       width: 7px;
       height: 7px;
       border: #E7EEF2 1px solid;
       position: absolute;
       bottom: -5px;
       left: 50%;
       margin-left: -5px;
       background: #FFF;
       border-radius: 100%;
       box-shadow: #FFF 0 0 0 5px;
   }
   
   .author-image {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       display: block;
       position: absolute;
       top: -40px;
       left: 50%;
       margin-left: -40px;
       width: 80px;
       height: 80px;
       border-radius: 100%;
       overflow: hidden;
       padding: 6px;
       background: #fff;
       z-index: 2;
       box-shadow: #E7EEF2 0 0 0 1px;
   }
   
   .author-image .img {
       position: relative;
       display: block;
       width: 100%;
       height: 100%;
       background-size: cover;
       background-position: center center;
       border-radius: 100%;
   }
   
   .author-profile .author-image {
       position: relative;
       left: auto;
       top: auto;
       width: 120px;
       height: 120px;
       padding: 3px;
       margin: -100px auto 0 auto;
       box-shadow: none;
   }
   
   .author-title {
       margin: 1.5rem 0 1rem;
   }
   
   .author-bio {
       font-size: 1.8rem;
       line-height: 1.5em;
       font-weight: 200;
       color: #50585D;
       letter-spacing: 0;
       text-indent: 0;
   }
   
   .author-meta {
       margin: 1.6rem 0;
   }
   /* Location, website, and link */
   .author-profile .author-meta {
       margin: 2rem 0;
       font-family: "Merriweather", serif;
       letter-spacing: 0.01rem;
       font-size: 1.7rem;
   }
   .author-meta span {
       display: inline-block;
       margin: 0 2rem 1rem 0;
       word-wrap: break-word;
   }
   .author-meta a {
       text-decoration: none;
   }
   
   /* Turn off meta for page2+ to make room for extra
      pagination prev/next links */
   .archive-template .author-profile .author-meta {
       display: none;
   }
   
   /* ==========================================================================
      7. Third Party Elements - Embeds from other services
      ========================================================================== */
   
   /* Github */
   .gist table {
       margin: 0;
       font-size: 1.4rem;
   }
   .gist td {
       line-height: 1.4;
   }
   .gist .line-number {
       min-width: 25px;
   }
   
   /* Pastebin */
   .content .embedPastebin {
       margin-bottom: 1.75em;
   }
   
   /* ==========================================================================
      8. Pagination - Tools to let you flick between pages
      ========================================================================== */
   
   /* The main wrapper for our pagination links */
   .pagination {
       position: relative;
       width: 80%;
       max-width: 710px;
       margin: 4rem auto;
       font-family: "Open Sans", sans-serif;
       font-size: 1.3rem;
       color: #9EABB3;
       text-align: center;
   }
   
   .pagination a {
       color: #9EABB3;
       transition: all 0.2s ease;
   }
   
   /* Push the previous/next links out to the left/right */
   .older-posts,
   .newer-posts {
       position: absolute;
       display: inline-block;
       padding: 0 15px;
       border: #bfc8cd 1px solid;
       text-decoration: none;
       border-radius: 4px;
       transition: border 0.3s ease;
   }
   
   .older-posts {
       right: 0;
   }
   
   .page-number {
       display: inline-block;
       padding: 2px 0;
       min-width: 100px;
   }
   
   .newer-posts {
       left: 0;
   }
   
   .older-posts:hover,
   .newer-posts:hover {
       color: #889093;
       border-color: #98a0a4;
   }
   
   .extra-pagination {
       display: none;
       border-bottom: #EBF2F6 1px solid;
   }
   .extra-pagination:after {
       display: block;
       content: "";
       width: 7px;
       height: 7px;
       border: #E7EEF2 1px solid;
       position: absolute;
       bottom: -5px;
       left: 50%;
       margin-left: -5px;
       background: #FFF;
       border-radius: 100%;
       box-shadow: #FFF 0 0 0 5px;
   }
   .extra-pagination .pagination {
       width: auto;
   }
   
   /* On page2+ make all the headers smaller */
   .archive-template .main-header {
       max-height: 30vh;
   }
   
   /* On page2+ show extra pagination controls at the top of post list */
   .archive-template .extra-pagination {
       display: block;
   }
   
   
   /* ==========================================================================
      9. Footer - The bottom of every page
      ========================================================================== */
   
   .site-footer {
       position: relative;
       margin: 8rem 0 0 0;
       padding: 0.5rem 15px;
       border-top: #EBF2F6 1px solid;
       font-family: "Open Sans", sans-serif;
       font-size: 1rem;
       line-height: 1.75em;
       color: #BBC7CC;
   }
   
   .site-footer a {
       color: #BBC7CC;
       text-decoration: none;
       font-weight: bold;
   }
   
   .site-footer a:hover {
       color: #50585D;
   }
   
   .poweredby {
       display: block;
       width: 45%;
       float: right;
       text-align: right;
   }
   
   .copyright {
       display: block;
       width: 45%;
       float: left;
   }
   
   .btn-bootstrap-2 {
       /* display: block; */
       /* position: absolute; */
       /* z-index: 100; */
       /* bottom: 50%; */
       /* left: 50%; */
       /* margin-left: -16px; */
       /* width: 34px; */
       /* height: 34px; */
       /* display: table-cell; */
       /* vertical-align: middle; */
       /* font-size: 44px; */
       text-align: center;
       text-decoration: none;
       color: rgba(255,255,255,0.7);
       /*-webkit-animation: bounce 4s 2s infinite;
       animation: bounce 4s 2s infinite;*/
       border: 1px solid transparent;
       border-radius: 4px;
       padding: 6px 12px;
       margin-bottom: 0;
       font-weight: 400;
       /* height: 38px; */
       /* padding: 0 15px; */
       border: #bfc8cd 1px solid;
       opacity: 1;
       /* color: #9EABB3; */
       /* text-align: center; */
       /* font-size: 12px; */
       text-transform: uppercase;
       line-height: 35px;
       white-space: nowrap;
       border-radius: 3px;
       background: rgba(0, 0, 0, 0.39);
       transition: all 0.5s ease;
   }
   .btn-bootstrap-2:hover {
       color: #00FF00;
       border-color: #00FF00;
       opacity: 0.7;
       color: rgba(255,255,255,0.7);
   }
   
   /* ==========================================================================
      10. Media Queries - Smaller than 900px
      ========================================================================== */
   
   @media only screen and (max-width: 900px) {
   
       /*section.post-excerpt {
           padding: 20px;
       }*/
   
       header.post-header {
           padding: 20px 20px 0 20px;
       }
       section.post-content {
           padding: 20px;
       }
   
       footer.post-meta {
           padding: 20px;
       }
   
       blockquote {
           margin-left: 0;
       }
   
       .main-header {
           -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
           box-sizing: border-box;
           height: auto;
           min-height: 240px;
           height: 60vh;
           padding: 15% 0;
       }
   
   
       .scroll-down,
       .home-template .main-header:after { display: none; }
   
       .archive-template .main-header {
           min-height: 180px;
           padding: 10% 0;
       }
   
       h2.post-title {
           padding:20px 20px 0px 20px;
       }
   
       .blog-logo img {
           padding: 4px 0;
           height: 70px;
           width: 70px;
       }
     
       .page-title {
           font-size: 4rem;
           letter-spacing: -1px;
           color: #bfc8cd;
           padding: 10px;
       }
   
       .page-title:hover{
         color: #00FF00;
       }
   
       .page-description {
           font-size: 1.8rem;
           line-height: 1.5em;
       }
   
       .post {
           width:100%;
           max-width:100%;
           font-size: 0.95em;
       }
   
       body:not(.post-template) .post-title {
           font-size: 3.2rem;
       }
   
       hr {
           margin: 2.4em 0;
       }
   
       ol, ul {
           padding-left: 2em;
       }
   
       h1 {
           font-size: 4.5rem;
           text-indent: -2px;
       }
   
       h2 {
           font-size: 3.6rem;
       }
   
       h3 {
           font-size: 3.1rem;
       }
   
       h4 {
           font-size: 2.5rem;
       }
   
       h5 {
           font-size: 2.2rem;
       }
   
       h6 {
           font-size: 1.8rem;
       }
   
       .author-profile {
           padding-bottom: 4rem;
       }
   
       .author-profile .author-bio {
           font-size: 1.6rem;
       }
   
       .author-meta span {
           display: block;
           margin: 1.5rem 0;
       }
       .author-profile .author-meta span {
           font-size: 1.6rem;
       }
   
       .post-head.main-header {
           height:45vh;
       }
   
       .tag-head.main-header,
       .author-head.main-header {
           height: 30vh;
       }
   
       .no-cover.post-head.main-header {
           height: 55px;
           padding: 0;
       }
   
       .no-cover.author-head.main-header {
           padding: 0;
       }
   
       article.post.post {
           background-color: #fff;
           margin: 0;
       }
   
   }
   
   
   /* ==========================================================================
      11. Media Queries - Smaller than 500px
      ========================================================================== */
   
   @media only screen and (max-width: 500px) {
   
       article.post.post {
           background-color: #fff;
           padding: 20px;
           margin: 0;
       }
   
       .main-header {
           margin-bottom: 15px;
           height: 40vh;
       }
   
       .no-cover.main-header {
           height: 30vh;
       }
   
       .archive-template .main-header {
           max-height: 20vh;
           min-height: 160px;
           padding: 10% 0;
       }
   
       .main-nav {
           padding: 5px;
           margin-bottom: 8em;
       }
   
       .blog-logo {
           padding: 5px;
           height: 150px;
           width: 150px;
       }
   
       .blog-logo img {
           height: 150px;
           width: 150px;
       }
   
       .menu-button {
           padding: 0 5px;
           border-radius: 0;
           border-color: transparent;
           color: #2e2e2e;
           background: transparent;
       }
       .menu-button:hover {
           color: #2e2e2e;
           border-color: transparent;
           background: none;
       }
       body.nav-opened .menu-button {
           background: none !important;
           border: transparent !important;
       }
   
       .main-nav.overlay a:hover {
           color: #fff;
           border-color: transparent;
           background: transparent;
       }
   
       .no-cover .main-nav.overlay {
           background: none;
       }
       .no-cover .main-nav.overlay .menu-button {
           border: none;
       }
   
       .main-nav.overlay .menu-button {
           border-color: transparent;
       }
   
       .nav-title {
           top: 25px;
   
       }
   
       .nav-close {
           position: absolute;
           top: 18px;
       }
   
       .nav ul {
           padding: 60px 9% 5%;
       }
   
       .inner,
       .pagination {
           width: auto;
           margin: 2rem auto;
       }
   
       .post {
           width: 100%;
           max-width: 100%;
           width: auto;
           margin-top: 8rem;
           margin-bottom: 2rem;
           margin-left: 16px;
           margin-right: 16px;
           padding-bottom: 2rem;
           line-height: 1.65em;
       }
   
       .post-date {
           display: none;
       }
   
       .post-template .post-header {
           margin-bottom: 2rem;
       }
   
       .post-template .post-date {
           display: inline-block;
       }
   
       hr {
           margin: 1.75em 0;
       }
   
       p, ul, ol, dl {
           font-size: 0.95em;
           margin: 0 0 2.5rem 0;
       }
   
       .page-title {
           font-size: 3rem;
       }
   
       .post-excerpt p {
           font-size: 0.85em;
       }
   
       .page-description {
           font-size: 1.6rem;
       }
   
       h1, h2, h3,
       h4, h5, h6 {
           margin: 0 0 0.3em 0;
       }
   
       h1 {
           font-size: 2.8rem;
           letter-spacing: -1px;
       }
   
       h2 {
           font-size: 2.4rem;
           letter-spacing: 0;
           margin: 1em 0 1em 0;
       }
   
       h3 {
           font-size: 2.1rem;
       }
   
       h4 {
           font-size: 1.9rem;
       }
   
       h5 {
           font-size: 1.8rem;
       }
   
       h6 {
           font-size: 1.8rem;
       }
   
       body:not(.post-template) .post-title {
           font-size: 2.5rem;
       }
   
       .post-template .post {
           padding-bottom: 0;
           margin-bottom: 0;
       }
   
       .post-template .site-footer {
           margin-top: 0;
       }
   
       .post-content img {
           padding: 0;
           width: calc(100% + 32px); /* expand with to image + margins */
           min-width: 0;
           max-width: 100%; /* fallback when calc doesn't work */
       }
   
       .post-meta {
           font-size: 1.3rem;
           margin-top: 1rem;
       }
   
       .post-footer {
           padding: 5rem 0 3rem 0;
           text-align: center;
       }
   
       .post-footer .author {
           margin: 0 0 2rem 0;
           padding: 0 0 1.6rem 0;
           border-bottom: #EBF2F6 1px dashed;
       }
   
       .post-footer .share {
           position: static;
           width: auto;
       }
   
       .post-footer .share a {
           margin: 1.4rem 0.8rem 0 0.8rem;
       }
   
       .author-meta li {
           float: none;
           margin: 0;
           line-height: 1.75em;
       }
   
       .author-meta li:before {
           display: none;
       }
   
       .older-posts,
       .newer-posts {
           position: static;
           margin: 10px 0;
       }
   
       .page-number {
           display: block;
       }
   
       .site-footer {
           margin-top: 3rem;
       }
   
       .author-profile {
           padding-bottom: 2rem;
       }
   
       .post-head.main-header {
           height: 30vh;
       }
   
       .tag-head.main-header,
       .author-head.main-header {
           height: 20vh;
       }
   
       .author-profile .author-image {
           margin-top: -70px;
       }
   
       .author-profile .author-meta span {
           font-size: 1.4rem;
       }
   
       .archive-template .main-header .page-description {
           display: none;
       }
   
   }
   
   
   /* ==========================================================================
      12. Animations
      ========================================================================== */
   
   /* Used to fade in title/desc on the home page */
   @-webkit-keyframes fade-in-down {
       0% {
           opacity: 0;
           -webkit-transform: translateY(-10px);
           transform: translateY(-10px);
       }
       100% {
           opacity: 1;
           -webkit-transform: translateY(0);
           transform: translateY(0);
       }
   }
   @keyframes fade-in-down {
       0% {
           opacity: 0;
           -webkit-transform: translateY(-10px);
           transform: translateY(-10px);
       }
       100% {
           opacity: 1;
           -webkit-transform: translateY(0);
           transform: translateY(0);
       }
   }
   
   /* Used to bounce .scroll-down on home page */
   @-webkit-keyframes bounce {
       0%, 10%, 25%, 40%, 50% {
           -webkit-transform: translateY(0) ;
                   transform: translateY(0) ;
       }
       20% {
           -webkit-transform: translateY(-10px) ;
                   transform: translateY(-10px) ;
       }
       30% {
           -webkit-transform: translateY(-5px) ;
                   transform: translateY(-5px) ;
       }
   }
   @keyframes bounce {
       0%, 20%, 50%, 80%, 100% {
           -webkit-transform: translateY(0) ;
                   transform: translateY(0) ;
       }
       40% {
           -webkit-transform: translateY(-10px) ;
                   transform: translateY(-10px) ;
       }
       60% {
           -webkit-transform: translateY(-5px) ;
                   transform: translateY(-5px) ;
       }
   }
   
   
   /* ==========================================================================
      End of file. Animations should be the last thing here. Do not add stuff
      below this point, or it will probably fuck everything up.
      ========================================================================== */
   
   /* ---- reset ---- */
   
   body {
     margin: 0;
     /*font: normal 75% Arial, Helvetica, sans-serif;*/
   }
   
   canvas {
     display: block;
     vertical-align: bottom;
   }
   /* ---- particles.js container ---- */
   
   #particles-js {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: #2FA7DC;
     background-image: url("../images/screen.webp");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
   }
   /* ---- stats.js ---- */
   
   .count-particles {
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles {
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles {
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats {
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }
   
   .count-particles {
     border-radius: 0 0 3px 3px;
   }
   nav .fas {
       display: none;
   }
   
