/* setting all element's margin and padding zero  */

*{
    margin: 0;
    padding: 0;
    font-family: Merriweather;
}
/* styling main-header */
.main-header{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index:2;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: ; */
    /* padding: 10px; */

}
body.nav-opened .nav-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 240px;
    bottom: 0;
    z-index: 200;
}
.main-nav .navbar__menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 14px;
    margin-right: 2%;
}
.navbar__menu li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* .navbar__menu li a:hover{
    color: #3ca33b;
} */
.blog-logo i{
    color: #3ca33b;
}
@media screen and (max-width:815px) {
   
    .navbar__toggle{
        position: absolute;
        top: 21px;
        right: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    .navbar__toggle .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    .main-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-nav .navbar__menu{
        display: none;
        flex-direction: column;
        width: 100%;

    }
    .main-nav .navbar__menu.active{
        display: flex;
    }
   .navbar__linksw3{
    display: none;
   }
}
.vertical{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.main-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-title{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.vertical a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
.page-title.do{
    display: none;
}

/* 
=====================================================================================================================
old stuff
===================================================================================================================== */
 
.site-footer {
    position: relative;
    margin: 8rem 0 0;
    padding: 0.5rem 15px;
    border-top: #EBF2F6 1px solid;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    color: #50585D;
}
canvas {
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2FA7DC;
    background-image: url("../images/screen.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
  }
  /* ---- stats.js ---- */
  
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
  }
  
  .js-count-particles {
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
 
  body {
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
    width: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}
.site-wrapper {
    /* position: relative; */
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
}
.vertical a:hover{
    color: #00FF00;
  }
  body.nav-opened .site-wrapper {
    overflow-x: hidden;
    -webkit-transform: translate3D(-240px, 0, 0);
        -ms-transform: translate3D(-240px, 0, 0);
            transform: translate3D(-240px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
}
   
.navbar__links {
     transition: all 0.3s ease;
     color:rgba(255,255,255,0.7);
   }
   .navbar__links:hover {
    color: #00e043;
    transition: all 0.3s ease;
  }
  @-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.btn-bootstrap-2 {
    /* display: block; */
    /* position: absolute; */
    /* z-index: 100; */
    /* bottom: 50%; */
    /* left: 50%; */
    /* margin-left: -16px; */
    /* width: 34px; */
    /* height: 34px; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* font-size: 44px; */
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    /*-webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;*/
    border: 1px solid #bfc8cd transparent;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    /* height: 38px; */
    /* padding: 0 15px; */
   
    opacity: 1;
    /* color: #9EABB3; */
    /* text-align: center; */
    /* font-size: 12px; */
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    /* border-radius: 3px; */
    background: rgba(0, 0, 0, 0.39);
    transition: all 0.5s ease;
}
.btn-bootstrap-2:hover {
    color: #00FF00;
    border-color: #00FF00;
    opacity: 0.7;
    /* color: rgba(255,255,255,0.7); */
}


@font-face {
    font-family: 'genericons';
    src: url('../fonts/Genericons.eot');
    src: url('../fonts/Genericons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Genericons.woff') format('woff'),
         url('../fonts/Genericons.ttf') format('truetype'),
         url('../fonts/Genericons.svg#entypo') format('svg');
    font-weight: normal; font-style: normal;
  }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "genericons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-github:before {
    content: "\f200";
}

.icon-hugo:before{
    content:"\f216";
}

.icon-ghost:before {
    content: "\f100";
}
.icon-feed:before {
    content: "\f413";
}
.icon-twitter:before {
    content: "\f202";
}
.icon-google-plus:before {
    content: "\f206";
}
.icon-facebook:before {
    content: "\f203";
}
.icon-arrow-left:before {
    content: "\f431";
}
.icon-stats:before {
    content: "\f508";
}
.icon-location:before {
    content: "\f417";
}
.icon-link:before {
    content: "\f442";
}
.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 44px;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */
.scroll-down:hover {
    color: #00FF00;
    -webkit-animation: alternate;
    animation: alternate;
}
@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    20% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    30% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    40% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    60% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}
@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}










/* 
====================================================================================================================================

Orignal stufff
==================================================================================================================================== */



